<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Story Time
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img
      src="https://res.cloudinary.com/seth-fee-cloudinary32/image/upload/v1565990025/image_ahqlns.png"
      alt=""
    />

    <ion-card-header>
      <ion-card-subtitle>Story Time Presents: </ion-card-subtitle>
      <ion-card-title>The Elephant Friend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This is a tale of love and friendship, of victory and triumph...
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Story Parts</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-button
    color="primary"
    expand="full"
    fill="solid"
    (click)="launchBeginning()"
    >Beginning
  </ion-button>
  <ion-button
    color="primary"
    expand="full"
    fill="solid"
    (click)="launchMiddle()"
    >Middle</ion-button
  >
  <ion-button color="primary" expand="full" fill="solid" (click)="launchEnd()"
    >End</ion-button
  >
</ion-content>
